{% extends 'app/base.html' %} {% load staticfiles %} {% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active bg-dark"></li>
        {% for character in characters|slice:":4" %}
        <li data-target="#myCarousel" data-slide-to="{{ character.pk|add:" -1 " }}" class="{% if character.pk == 1 %} active {% endif %}"></li>
        {% endfor %} 
    </ol> -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="" src="{% static 'images/cartman.png' %}" alt="Image">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <p></p>
                </div>
            </div>
        </div>
        <!-- {% for character in characters|slice:":4" %}
        <div class="carousel-item {% if character.pk == 1 %}  active {% endif %}">
            <img class="" src="{% static 'images/cartman.png' %}" alt="{{ character.first_name }}">
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <a href={% url 'character_detail' pk=character.pk %} class="btn">{{ character.first_name }} {{ character.last_name }}</a>
                </div>
            </div>
        </div>
        {% endfor %} -->
    </div>
    <!--
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>

<hr>

<div class="main-content">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="container row" >
            {% for character in characters %}
            <div class="col-md-6 col-lg-4">
                <div class="img-div">
                    <img class="border-0 img-thumbnail" src="{{ MEDIA_URL }}{{ character.image }}" alt="Image">
                </div>
                <h2>{{ character.first_name }} {{ character.last_name }}</h2>
                <p><a class="btn btn-success col-md-3" href={% url 'character_detail' pk=character.pk %} role="button">More</a></p>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
</div>
{% endblock %}